.combo-box {
    -fx-background-color: white;
    -fx-border-width: 1.5;
    -fx-border-color: #28a5ff;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

.text-field {
    -fx-background-color: white;
    -fx-border-width: 1.5;
    -fx-border-color: #28a5ff;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

.text-area {
    -fx-background-color: white;
    -fx-border-width: 1.5;
    -fx-border-color: #28a5ff;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

